@model IEnumerable<webgis.Models.Secteur>

@section Scripts {
<link rel="stylesheet" href="https://js.arcgis.com/4.26/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.26/"></script>
<script >

require (["esri/config", "esri/Map", "esri/views/MapView", "esri/layers/FeatureLayer", "esri/layers/WMSLayer"],
function(esriConfig, Map, MapView, FeatureLayer, WMSLayer){
esriConfig.apiKey="";
const wmsUrl="http://172.171.244.99/qgisserver/cgi-bin/qgis_mapserv.fcgi?MAP=/home/azureuser/qgis/data/AinChock.qgs&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities";
const wmsLayer = new WMSLayer({
url: wmsUrl,
sublayers: [ 
{ name: "Secteur" },
{ name: "Equipements" },
{ name: "Emprise" },
{ name: "Voirie" },
{ name: "FrontBati" },
{ name: "Axe" }
]
});
const map=new Map({
basemap: "streets-vector",
layers: [wmsLayer]
});
const view=new MapView({
map: map,
center: [-7.62, 33.525], // Longitude, latitude
zoom: 12, // Zoom level
container: "mapDiv"
});
});
</script>

}


<h2>Liste des secteurs</h2>

<div class="container">
<!-- Carte (au-dessus du tableau) -->
<div id="mapDiv" style="height: 500px; width: 100%;"></div>
<a asp-action="Create">Create New Secteur</a>
<table class="table">
<thead>
<tr>
<th>Zonage</th>
<th>Secteur</th>
<th>Surface</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
<tr>
<td>@item.zonage</td>
<td>@item.SECTEUR</td>
<td>@item.SHAPE_Area</td>
<td>
<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.id">Delete</a>
</td>
</tr>
}
</tbody>
</table>
</div>